# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
out/
build/
.turbo/

# Test artifacts
coverage/
playwright-report/
test-results/
.lighthouseci/

# Editor / OS
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Husky internal
.husky/_/
